/* inter-regular - latin_cyrillic */
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  src: local('inter'), url('../fonts/inter/Inter-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: inter-bold;
  font-style: normal;
  font-weight: bolder;
  src: local('inter-bold'), url('../fonts/inter/Inter-Bold.ttf');
  font-display: swap;
}

.strapi-content h1 {
  font-size: 38pt !important;
  font-weight: bold;
  clear: both;
  font-family:
    inter-bold,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.strapi-content h2 {
  font-size: 36pt !important;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
  clear: both;
  font-family:
    inter-bold,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.strapi-content h3 {
  font-size: 32pt !important;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
  clear: both;
  font-family:
    inter-bold,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.strapi-content h4 {
  font-size: 18pt !important;
  font-weight: 900;
  margin-bottom: 5px;
  margin-top: 2px;
  clear: both;
  font-family:
    inter-bold,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.strapi-content h5 {
  font-size: 16pt !important;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
  clear: both;
  font-family:
    inter-bold,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.strapi-content h6 {
  font-size: 14pt !important;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
  clear: both;
  font-family:
    inter-bold,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.strapi-content p {
  margin: 20px 0 20px 0;
  font-family:
    inter,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: black !important;

  @apply sm:text-justify;
}

.strapi-content a {
  text-decoration: underline;
  font-weight: bolder;
}

.strapi-content a:hover {
  opacity: 0.8;
}

.strapi-content li {
  font-family:
    georgia,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: #000;
}

.strapi-content ol {
  margin: 10px 0;
  padding-left: 20px;
  list-style: decimal;
  list-style-position: outside;
}

.strapi-content-style-2 h1 {
  font-size: 38pt !important;
  font-weight: bold;
  clear: both;
  font-family:
    inter-bold,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.strapi-content-style-2 h2 {
  font-size: 36pt !important;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
  clear: both;
  font-family:
    inter-bold,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.strapi-content-style-2 h3 {
  font-size: 32pt !important;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
  clear: both;
  font-family:
    inter-bold,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.strapi-content-style-2 h4 {
  font-size: 28pt !important;
  font-weight: 900;
  margin-bottom: 5px;
  margin-top: 2px;
  clear: both;
  font-family:
    inter-bold,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.strapi-content-style-2 h5 {
  font-size: 18pt !important;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
  clear: both;
  font-family:
    inter-bold,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.strapi-content-style-2 h6 {
  font-size: 14pt !important;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
  clear: both;
  font-family:
    inter-bold,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.strapi-content-style-2 p {
  margin: 20px 0 20px 0;
  font-family:
    inter,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: white !important;

  @apply sm:text-justify;
}

.strapi-content-style-2 a {
  text-decoration: underline;
  font-weight: bolder;
}

.strapi-content-style-2 a:hover {
  opacity: 0.8;
}

.strapi-content-style-2 li {
  font-family:
    georgia,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: #000;
}

.strapi-content-style-2 ol {
  margin: 10px 0;
  padding-left: 20px;
  list-style: decimal;
  list-style-position: outside;
}
